$theme-colors: (
	'brand': #06B4B6,
	'action': #FFA800,
	'success': #1FB606,
	'acent': #B60670,
	'black': #434343,
	'white': #ffffff,
	'grey': #838383,
	'greyF1': #F1F1F1,
	'greyD9': #D9D9D9,
	'grey83': #838383,
);

$container-max-width: 1200px;
$container-padding: 10px;

$font-family-primary: 'Inter'
