$theme-colors: (
	"brand": #06b4b6,
	"action": #ffa800,
	"success": #1fb606,
	"acent": #b60670,
	"black": #434343,
	"white": #ffffff,
	"grey": #838383,
	"greyF1": #f1f1f1,
	"greyD9": #d9d9d9,
	"grey83": #838383,
	"greyA5": #a5a5a5,
	"greyF5": #f5f5f5,
	"greyF9": #f9f9f9,
);

$box-shadow-colors: (
	"brand": rgba(6, 180, 182, 0.25),
	"action": rgba(255, 168, 0, 0.25),
	"success": rgba(31, 182, 6, 0.25),
	"acent": rgba(182, 6, 112, 0.25),
);

// Container
$container-max-width: 1200px;
$container-padding: 10px;

// Sections
$section-padding: 27px;
$section-padding-mobile: 15px;

// Font
$font-family-primary: "Inter", sans-serif;
$font-family-secondary: "Roboto", sans-serif;
$font-size-base: 16px;

$font-size-levels: (
	0.125: calc($font-size-base - 6px),
	0.25: calc($font-size-base - 4px),
	0.5: calc($font-size-base - 2px),
	1: $font-size-base,
	2: calc($font-size-base + 1px),
	3: calc($font-size-base + 2px),
	4: calc($font-size-base + 4px),
);

// Spacing
$spacers: (
	"px": 1px,
	0.5: 0.125rem,
	1: 0.25rem,
	1.5: 0.375rem,
	2: 0.5rem,
	2.5: 0.625rem,
	3: 0.75rem,
	3.5: 0.875rem,
	4: 1rem,
	5: 1.25rem,
	6: 1.5rem,
	7: 1.75rem,
	8: 2rem,
	9: 2.25rem,
	10: 2.5rem,
	12: 3rem,
	14: 3.5rem,
	16: 4rem,
	20: 5rem,
	24: 6rem,
	28: 7rem,
	32: 8rem,
	36: 9rem,
	40: 10rem,
	44: 11rem,
	48: 12rem,
	52: 13rem,
	56: 14rem,
	60: 15rem,
	64: 16rem,
	72: 18rem,
	80: 20rem,
	96: 24rem,
);

$breakpoints: (
	"mobile": 425px,
	"tablet": 768px,
	"header-tablet": 1204px,
	"desktop": 1600px,
);

// Swiper
$swiper-padding-bottom: 44px;
$swiper-controls-x-padding: 22px;
