@media (max-width: 948px) {
	.footer {
		&__content {
			padding-top: 18px;
		}

		&__top {
			padding-bottom: 12px;

			&-cont {
				flex-direction: column;
			}
		}

		&__logo {
			align-self: center;
			padding-top: 0;
		}

		&__block {
			&-title {
				margin-bottom: 8px;
			}

			&--menu {
				margin-bottom: 24px;
			}
			&--contacts {
				margin-left: 0;
				padding-left: 0;
			}
		}

		&__bottom {
			padding-top: 12px;
			font-size: 11px;

			&-cont {
				flex-direction: column-reverse;
				align-items: center;
			}
		}
	}
}

@include media-breakpoint-down("tablet") {
	.footer {
		padding-top: $section-padding-mobile;
	}
}
