- const catalogList = [ { name: 'Кровати', icon: './assets/icons/bed.svg', descList: [ 'Интерьерные кровати', 'Кровати из массива', 'Кровати с ковкой', 'Кровати с кожей', 'Односпальные кровати', 'Двухспальные кровати', 'Подростковые кровати', 'Полуторные кровати' ] }, { name: 'Детские кровати', icon: './assets/icons/baby-bed.svg', descList: [ 'Одноярусные', 'Двухъярусные', 'Чердаки', 'С бортиками', 'Домики', 'Для девочек', 'Для мальчиков' ] }, { name: 'Матрасы', icon: './assets/icons/mattress.svg', }, { name: 'Аксессуары', icon: './assets/icons/pillow.svg', }, { name: 'Комоды', icon: './assets/icons/chest.svg', }, { name: 'Тумбы', icon: './assets/icons/tumb.svg', } ]

//- [
//- 	{
//- 		name: 'Кровати',
//- 		icon: './assets/icons/bed.svg',
//- 		descList: [
//- 			'Интерьерные кровати',
//- 			'Кровати из массива',
//- 			'Кровати с ковкой',
//- 			'Кровати с кожей',
//- 			'Односпальные кровати',
//- 			'Двухспальные кровати',
//- 			'Подростковые кровати',
//- 			'Полуторные кровати'
//- 		]
//- 	},
//- 	{
//- 		name: 'Детские кровати',
//- 		icon: './assets/icons/baby-bed.svg',
//- 		descList: [
//- 			'Одноярусные',
//- 			'Двухъярусные',
//- 			'Чердаки',
//- 			'С бортиками',
//- 			'Домики',
//- 			'Для девочек',
//- 			'Для мальчиков'
//- 		]
//- 	},
//- 	{
//- 		name: 'Матрасы',
//- 		icon: './assets/icons/mattress.svg',
//- 	},
//- 	{
//- 		name: 'Аксессуары',
//- 		icon: './assets/icons/pillow.svg',
//- 	},
//- 	{
//- 		name: 'Комоды',
//- 		icon: './assets/icons/chest.svg',
//- 	},
//- 	{
//- 		name: 'Тумбы',
//- 		icon: './assets/icons/tumb.svg',
//- 	}
//- ]
