- const imgSrc = "./assets/images/"
- const icoSrc = "./assets/icons/"
- const scriptsSrc = "./js/"
- const assetsScriptsSrc = scriptsSrc + 'assets/'
- const modulesScriptsSrc = scriptsSrc + 'modules/'

- const swiperSrc = assetsScriptsSrc + 'swiper-bundle.min.js'

- const siteTitle = 'Велес Арт - магазин мебели'

- const phoneNumber1 = '8 (499) 391-20-73'
- const phoneNumber2 = '8 (925) 549-38-70'
- const timeFromWork = '10:00'
- const timeToWork = '22:00'
