mixin phoneNumber(number, white = false)
	- const textColor = white ? 'color-white' : 'color-black'
	- const unmasketNumber = number.replace(/[\(, \), \-,  ]/g, '')

	.phone-num
		a.phone-num__link(href='tel:' + unmasketNumber)
			if white
				.phone-num__icon.color-white(src="./assets/icons/phone.svg")
					+phoneSvg
			else
				.phone-num__icon.color-brand
					+phoneSvg
			span.phone-num__num(class=textColor)= number



