mixin search(placeholder = 'Поиск')
	.search
		form.search__form
			input.search__input(type="text" name="search" placeholder=placeholder)
			button.btn.btn-success.search__btn(type="submit")
				img.search__btn-icon(src="./assets/icons/search.svg")
