mixin closeSvg
	<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.292039 15.9194L15.8484 0.363101L16.8207 1.33537L1.26431 16.8917L0.292039 15.9194Z" fill="#D9D9D9"/>
		<path d="M15.8484 16.8917L0.292039 1.33537L1.26431 0.363101L16.8207 15.9194L15.8484 16.8917Z" fill="#D9D9D9"/>
	</svg>
