extends ../layout/base.pug

prepend scripts
	script(src=swiperSrc)
	script(src=modulesScriptsSrc + 'adsSlider.js', defer)

block content
	main.main-page
		section.section.section--main.section--main-first
			.container
				include ../parts/adsSlider.pug
