extends ../layout/base.pug

prepend scripts
	script(src=swiperSrc)
	script(src=modulesScriptsSrc + 'adsSlider.js', defer)
	script(src=modulesScriptsSrc + 'slidersList.js', defer)

block content
	main.main-page
		//- Slider
		section.section.section--main.section--main-first
			.container
				include ../parts/adsSlider.pug

		//- Product categories
		section.section.section--main
			.container
				include ../parts/productsCategories

		//- Why we
		section.section.section--main
			.container
				include ../parts/whyWe.pug

		//- Hits
		section.section.section--main
			.container
				include ../parts/hits.pug
