.container {
	max-width: $container-max-width + ($container-padding * 2);
	padding-right: $container-padding;
	padding-left: $container-padding;
	margin: 0 auto;
}

.section {
	padding: 27px 0;

	&--main {
		&-first {
			padding-top: get-spacer(7);
		}
	}
}
