.contacts {
	&__title {
		text-align: center;

		font-size: 24px;
		margin-bottom: 32px;
	}

	&__content {
		display: grid;
		grid-template-columns: minmax(auto, 202px) minmax(auto, 317px) minmax(
				auto,
				567px
			);
		justify-content: space-between;
		column-gap: 1rem;
	}

	&__block {
		&-title {
			margin-bottom: 1rem;

			font-size: 20px;
			font-weight: 700;
		}
	}
}

.contacts-phones {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	&__phones {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}

.contacts-messagers {
	display: flex;
	flex-direction: column;
}

.messagers-links {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-self: flex-start;
	min-width: 186px;

	&__link {
		padding: 4px;
		column-gap: 8px;

		border-width: 2px;
		border-radius: 30px;

		font-weight: 700;

		&--tg {
			padding: 6px;
		}
	}

	&__icon {
		max-height: 23px;
	}
}
