include ../data/**/*.pug
include ../components/**/*.pug

block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= siteTitle
		block scripts
			script(src="js/index.min.js")
		block styles
			link(rel="stylesheet", href="css/index.min.css")
	body
		block header
			include ../parts/header.pug
		block content
		block footer
			include ../parts/footer.pug
